#background {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #000000, #353535);
    position: fixed;
    z-index: 1;
}
.archivo {
font-family: "Archivo Black", sans-serif;
font-weight: 400;
font-style: italic;
color: aliceblue;
Font-size: 5vw;
position: absolute;
top: 100px;
left: 250px;
}

.nunito {
font-family: "Nunito", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-size: 3vw;
font-style: italic;
color: aliceblue;
position: absolute;
top: 220px;
left: 250px;
}

p{
    color: rgb(165, 165, 165);
    font-family: "nunito", sans-serif;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    top: 310px;
    left: 250px;
}

.img{
    display: flex;
    justify-content:flex-end;
    align-items: flex-start;
    height: 100vh; 
    padding: 10px;
    position: absolute;
    top: 600px;
    left: 750px;
}

#img{
    width: 800px;
    height: auto;
    margin-top: -600px;
}

.nikelogo{
    position: fixed;
    top: 0;
    height: 100%;
    color: black;
    background-color: white;
    writing-mode: vertical-rl;
    text-align: center;
    font-family: "nunito", sans-serif;
    font-weight: bold;
    padding: 50px;
    letter-spacing: 20px;
    word-spacing: 20px;
}

.mainlogo{
    position:fixed;
    z-index: 1000;
    width: 100px;
    height: auto;
    margin-left: 11px;
    margin-top: -20px;
}

.navbar{
    position: fixed;
    top: 0;
    padding: 10px 0;
    width: 100%;
    margin-left: 194px;
}

.navbar li{
  float: left; 
  display: block; 
  transition: transform 0.3s ease;
}

.navbar a{
  text-decoration: none;
  color:rgb(216, 216, 216);
  margin: 0 50px;
}

#icon{
    height: 30px;
    width: auto;
}

.navbuttons{
    color: white;
    font-family: "nunito" , sans-serif;
    font-weight: bolder;
    list-style-type: none;
    margin-top: 7px;
}

button{
    background-color: transparent;
    border: none;
}

.threebtn{
    margin-left: 1065px;
}

button{
    margin-right: 35px;
    transition: transform 0.3s ease;
}

.onebtn{
    margin-right: 65px;
}

li:hover{
    transform: scale(1.1);
}

li button:hover{
    transform: scale(1.1);
}

button:hover{
    transform: scale(1.1);
}

.addtobag{
    position: absolute;
    left: 250px;
    top: 600px;
    font-family: "nunito", sans-serif;
    font-weight:800;
    transition: transform 0.3s ease;
    background-color: rgb(185, 185, 185);
    padding: 0px 10px;
    font-size:xx-small;
    border-radius: 20px;
    border: 1px solid #000000
}

.price{
    position: absolute;
    left: 270px;
    top: 470px;
    font-family: "nunito", sans-serif;
    font-weight:650;
    font-style: italic;
    color: white;

}


    
